* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
  }


  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
    position: relative;
    z-index: 0; /* Ensure it appears behind the actual page content */
  }
  
  header {
    z-index: 1; /* Ensure header is above the wave background */
  }
  
  footer {
    z-index: 1; /* Ensure footer is above the wave background */
  }
  